header {
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
    align-items: center;
}

header .welcome {
    font-size: 12px;
}

header .free-contact {
     color: #DD0000;
     font-size: 14px;
 }

header .logo-contact {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header .logo-contact .sec-contact{
    color: #DD0000;
}

header .logo {
    display: flex;
    flex-direction: row;
}

header .logo-img {
    height: 80px;
    max-width: 50px;
    width: auto;
}

header .contact {
    display: flex;
    flex-direction: row;
}

header .contact-img {
    height: 50px;
    max-width: 40px;
    width: auto;
}

header .contact-text {
    font-size: 20px;
}

header .contact-text p{
    margin-top: 0;
    margin-bottom: 0;
}

content {
    display: flex;
    flex-direction: column;
    background: #FBFBFB;

}

content .action-bar-bg {
    width: 100%;
    height: 45px;
    background: #315AF7;
}

.action-bar {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .action-bar {
    justify-content: flex-start;
}

.action-bar a{
    margin: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

content .hot-key-word {
    margin: 8px auto;
    width: 70%;
    height: 20px;
    align-self: flex-start;
    font-size: 12px;
}

content .main-img {
    width: 100%;
    background: #ECF2F8;
}
content .main-img img{
    width: 70%;
    height: auto;
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

content .divider {
    width: 100%;
    height: 5px;
    background: #2345F9;
}


content .product-character {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

content .character-title {
    width: 30%;
    background: #2345F9;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    padding-left: 40px;
}

content .characters {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

content li {
    list-style: none;
}

content .product-character img {
    height: 300px;
    width: auto;
    max-width: 250px;
}

content .product-list {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

content .product-list .product-list-nav {
    width: 20%;
    border: groove 1px;
    padding-left: 0;
}

content .product-list .product-list-nav .product-list-nav-category {
    padding-left: 0;
    font-size: 14px;
}

content .product-list .product-list-nav-title{
    background: #2345F9;
    height: 38px;
    color: #ffffff;
}

content .product-list .container {
    width: 70%;
    font-size: 14px;
}

content .product-list .container .company-info{
    display: flex;
    flex-direction: column;
}

content .product-list .container .contact-us{
    display: flex;
    flex-direction: row;
}

content .product-list .container .title{
    color: #315AF7;
}

content .product-list .container img{
    border: groove 1px;
    height: 215px;
    width: auto;
    margin: 5px;
}

content .product-list .contact-us img{
    margin-right: 40px;
}

content .product-list .company-info img{
    height: 300px;
    width: auto;
    margin: 5px auto;
    align-self: center;
}

content .container-divider {
    width: 100%;
    height: 2px;
    background: #2345F9;
}

footer {
    display: flex;
    flex-direction: column;
    background: #3663C6;
}


footer .action-bar {
    justify-content: center;
    font-size: 12px;
}

footer .contact-manager, .company {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 12px;
}
